<div class='authen login'>
        <div class='authen-item'>
            <h1 class='header'>
                Register
            </h1>
        </div>
        <div class='authen-item'>
            <input
                type='text'
                name='username'
                id='username'
                class='authen-field'
                placeholder='Username'
            />
            <p class="error"></p>
        </div>
        <div class='authen-item'>
            <input
                type='password'
                name='password'
                id='password'
                class='authen-field'
                placeholder='Password'
            />
            <p class="error"></p>
        </div>
        <div class='authen-item'>
            <input
                type='password'
                name='rePassword'
                id='rePassword'
                class='authen-field'
                placeholder='Re-type Password'
            />
            <p class="error"></p>
        </div>
        <div class='authen-item authen-btn'>
            <button type='submit' class='btn btn-primary submit'>Register</button>
            <a href="/" class="btn btn-primary">Login</a>
        </div>
</div>

